<!DOCTYPE html>
<html>
  <head>
    <title>Distance Matrix service</title>
    <!-- TODO(ice): fix :// -> https -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyB6DvDoqCweMQoEfZIMqK9TdI7tijMlU2M"></script>
<!--    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>-->
    <style>
      html, body, #divApp {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map-canvas {
        height:100%;
        width:50%;
      }
      #content-pane {
        float:right;
        width:48%;
        padding-left: 2%;
      }
      div {
        font-size: 11px;
      }
    </style>
    <script>

angular.module('locationloclocApp', [])
.controller('DistanceCtrl', ["$scope", function($scope) {

var map;
var geocoder;
var bounds = new google.maps.LatLngBounds();
var markersArray = [];
var cache = {};

var origin = new google.maps.LatLng(59.33, 18.06);
$scope.destinations = [];

var destinationIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=D|FF0000|000000';
var originIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=O|FFFF00|000000';

function initialize() {
  var opts = {
    center: new google.maps.LatLng(59.33, 18.06),
    zoom: 10,
    streetViewControl: false,
  };
  map = new google.maps.Map(document.getElementById('map-canvas'), opts);
  geocoder = new google.maps.Geocoder();

  // Create map click event
  google.maps.event.addListener(map, 'click', function(event) {

    origin = event.latLng;
    console.log(origin);
    $scope.calculateDistances();
  });
}

$scope.calculateDistances = function() {
  console.log("calculateDistances");
  setTimeout(function() {calculateDistance(google.maps.TravelMode.DRIVING, callbackDriving)}, 0);
  setTimeout(function() {calculateDistance(google.maps.TravelMode.TRANSIT, callbackTransit)}, 0);
  setTimeout(function() {calculateDistance(google.maps.TravelMode.WALKING, callbackWalking)}, 0);
  setTimeout(function() {calculateDistance(google.maps.TravelMode.BICYCLING, callbackBicycling)}, 0);
}

function calculateDistance(travelMode, callback) {
  var service = new google.maps.DistanceMatrixService();
  service.getDistanceMatrix(
    {
      origins: [origin],
      destinations: $scope.destinations,
      travelMode: travelMode,
      unitSystem: google.maps.UnitSystem.METRIC,
      avoidHighways: false,
      avoidTolls: false,
      durationInTraffic: false
    }, callback);
}

function callbackDriving(response, status) {
  callback(response, status, 'outputDivDriving', true);
}

function callbackTransit(response, status) {
  callback(response, status, 'outputDivTransit', false);
}

function callbackWalking(response, status) {
  callback(response, status, 'outputDivWalking', false);
}

function callbackBicycling(response, status) {
  callback(response, status, 'outputDivBicycling', false);
}

function callback(response, status, outputDiv, addMarkers) {
  if (status != google.maps.DistanceMatrixStatus.OK) {
    console.log('Error was: ' + status);
  } else {
    var origins = response.originAddresses;
    var destinationsAddresses = response.destinationAddresses;
    var outputDiv = document.getElementById(outputDiv);
    outputDiv.innerHTML = '';
    if (addMarkers) {
      deleteOverlays();
    }

    for (var i = 0; i < origins.length; i++) {
      var results = response.rows[i].elements;
      if (addMarkers) {
        addMarker(origins[i], false);
      }
      for (var j = 0; j < results.length; j++) {
        if (addMarkers) {
          addMarker(destinationsAddresses[j], true);
        }
        outputDiv.innerHTML += '<b>' + results[j].duration.text + '</b> to ' + destinationsAddresses[j]
            + ': ' + results[j].distance.text + ' in '
            + results[j].duration.text + '<br>';
      }
    }
  }
}

function addMarker(location, isDestination) {
  var icon;

  if (isDestination) {
    icon = destinationIcon;
  } else {
    icon = originIcon;
  }

  // Check if this is cached 
  if (cache.hasOwnProperty(location)) {
    console.log("using cache for " + location);
    addMarkerToMap(cache[location]['results'], cache[location]['icon']);
  }
  else {
    console.log("doing geocoder call for " + location);
    geocoder.geocode({'address': location}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        addMarkerToMap(results, icon);
      } else {
        console.log('Geocode was not successful for the following reason: '
          + status);
      }
      cache[location] = {'results': results, 'icon': icon};
    });
  }
}

function addMarkerToMap(results, icon) {
//      bounds.extend(results[0].geometry.location);
//      map.fitBounds(bounds);
  var marker = new google.maps.Marker({
    map: map,
    position: results[0].geometry.location,
    icon: icon
  });
  markersArray.push(marker);
}

function deleteOverlays() {
  for (var i = 0; i < markersArray.length; i++) {
    markersArray[i].setMap(null);
  }
  markersArray = [];
}

this.addDestination = function() {
  var newDestinationArray = this.newDestination.split("\n");
  for (var i in newDestinationArray) {
    console.log(newDestinationArray[i]);
    $scope.destinations.push(newDestinationArray[i]);
  }
  this.newDestinationReadOnly = true;
}

google.maps.event.addDomListener(window, 'load', initialize);

}]);

    </script>
  </head>
  <body>
    <div ng-app="locationloclocApp" ng-controller="DistanceCtrl as distance" id="divApp" >
      <div id="content-pane">
        <h1>Where should I live?</h1>
        <div id="destinationsDiv">
          <textarea ng-model="distance.newDestination" rows="5" ng-readonly="distance.newDestinationReadOnly"></textarea>
        </div>
        <div id="inputs">
          <button class="btn" ng-click="distance.addDestination()" ng-disabled="distance.newDestinationReadOnly">Add destinations</button>
          <p><button type="button" ng-click="calculateDistances()">Calculate
            distances</button></p>
        </div>
        <div>
          <h3>Destinations</h3>
          <div ng-repeat="d in destinations">{{ d }}</div>
        </div>


        <div id="outputDiv">
          <h3>Driving</h3>
          <div id="outputDivDriving"></div>
          <h3>Transit</h3>
          <div id="outputDivTransit"></div>
          <h3>Bicycling</h3>
          <div id="outputDivBicycling"></div>
          <h3>Walking</h3>
          <div id="outputDivWalking"></div>
        </div>
      </div>
      <div id="map-canvas"></div>
    </div>
  </body>
</html>